#chartdiv{
  width: 95%;
  height: 240px;
}
#chartdiv2,
#chartdiv3,
#chartdiv5,
#chartdiv6 
 {
    width: 48%;
    height: 200px;
    display: inline-block;
    margin: 10px;
}


body
{
    
 /* background-color: aliceblue;*/

  background-image: url("img3.jpeg");
  background-size:cover ;

  opacity: 10
  ;
 
  
    
}

h1 {
  text-align: center; /* Centers the text horizontally */
}
